{% comment %}
    Renders cart notification

    Usage:
    {% render 'cart-notification' %}
{% endcomment %}

{% assign assign icon_style = settings.icons_style %}
<cart-notification>
  <div class="cart-notification-wrapper background-modal">
    <div id="cart-notification" class="cart-notification focus-inset" aria-modal="true" aria-label="{{ 'general.cart.item_added' | t }}" role="dialog" tabindex="-1">
      <div class="cart-notification__header">
        <h2 class="h3 cart-notification__heading"><i class="icon-check {{ icon_style }} fa-check"></i> {{ 'general.cart.item_added' | t }}</h2>
        <button type="button" class="cart-notification__close btn btn--style-2 btn-close-modal-text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
          {{ 'accessibility.close' | t }}
        </button>
      </div>
      <div id="cart-notification-product" class="cart-notification-product"></div>
      <div class="cart-notification__links">
        <a href="{{ routes.cart_url }}" class="btn btn--secondary btn--from">{{ 'general.cart.go_to_cart' | t }}</a>
        <form action="{{ routes.cart_url }}" method="post" id="cart-notification-form">
          <button class="btn btn--from" name="checkout">{{ 'sections.cart.checkout' | t }}</button>
        </form>
      </div>
    </div>
  </div>
</cart-notification>
{% style %}
  .cart-notification {
    display: none;
  }
{% endstyle %}
