{% comment %}
    Renders a product card using "Grid" style
    Accepts:
    - product: {Object} Product Liquid object (required)
    - media_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
    - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
    - show_countdown: {Boolean} Show a promotional countdown timer depending on the section setting (optional)
    - show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)
    - show_rating: {Boolean} Show product's rating (optional)
    - show_quick_add: {Boolean} Show the quick add button.
    - section_id: {String} The ID of the section that contains this card.
    - cart: {Object} Cart Liquid object (required)
    - background: {String} Background class to apply (optional)

    Usage:
    {% render 'product-card', product: product, show_vendor: section.settings.show_vendor %}
{% endcomment %}

{%- liquid
  assign icon_style = settings.icons_style
  assign uppercase_product_title = settings.uppercase_product_title
  assign grid_columns = section.settings.grid | default: 3
  assign product_swatches = settings.product_swatches | downcase | split: ','
  assign product_swatches_plural = settings.product_swatches_plural | downcase | split: ','

  assign background_class = 'background-modal'
  if background
    assign background_class = background
  endif
  assign hide_buy_buttons = false
  if product.metafields.theme.customization_picker.value == true
    assign hide_buy_buttons = true
  endif
-%}

<product-card class="product-card-wrapper {{ background_class }}">
  <div class="product-card{% unless product.available %} grid-view-item--sold-out{% endunless %}" id="product-card__{{ product.id }}">
    <div class="grid-view-item__link full-width-link">
      {% render 'product-tags', product: product, card__badge: true %}
      <a class="product-card__image-wrapper card-outline" href="{{ product.url | within: collection }}">
        {%- liquid
          if product.featured_media
            assign featured_media_aspect_ratio = product.featured_media.aspect_ratio
            if product.featured_media.aspect_ratio == nil
              assign featured_media_aspect_ratio = 1
            endif
          else
            assign featured_media_aspect_ratio = 1
          endif
        -%}
        {%- if product.featured_media -%}
          <div class="product-card__image">
            <div class="media media--transparent media--{{ media_ratio }}"
              {% if media_ratio == 'adapt' and product.featured_media %} style="padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;"{% endif %}
            >
              <img
                srcset="{%- if product.featured_media.width >= 165 -%}{{ product.featured_media | img_url: '165x' }} 165w,{%- endif -%}
                  {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | img_url: '360x' }} 360w,{%- endif -%}
                  {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | img_url: '533x' }} 533w,{%- endif -%}
                  {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | img_url: '720x' }} 720w,{%- endif -%}
                  {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | img_url: '940x' }} 940w,{%- endif -%}
                  {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | img_url: '1066x' }} 1066w{%- endif -%}"
                src="{{ product.featured_media | img_url: '533x' }}"
                sizes="(min-width: 1520px) {{ 1520 | minus: 130 | divided_by: grid_columns }}px, (min-width: 990px) calc((100vw - 130px) / {{ grid_columns }}), (min-width: 766px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ product.featured_media.alt | escape }}"
                loading="lazy"
                class="motion-reduce lazyload"
                width="{{ product.featured_media.width }}"
                height="{{ product.featured_media.height }}"
              >
            </div>
            {%- if product.media[1] != nil and show_secondary_image -%}
              <div class="media media--transparent media--{{ media_ratio }} product-card__image--hover"
                {% if media_ratio == 'adapt' and product.featured_media %} style="padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;"{% endif %}
              >
                <img
                  srcset="{%- if product.media[1].width >= 165 -%}{{ product.media[1] | img_url: '165x' }} 165w,{%- endif -%}
                    {%- if product.media[1].width >= 360 -%}{{ product.media[1] | img_url: '360x' }} 360w,{%- endif -%}
                    {%- if product.media[1].width >= 533 -%}{{ product.media[1] | img_url: '533x' }} 533w,{%- endif -%}
                    {%- if product.media[1].width >= 720 -%}{{ product.media[1] | img_url: '720x' }} 720w,{%- endif -%}
                    {%- if product.media[1].width >= 940 -%}{{ product.media[1] | img_url: '940x' }} 940w,{%- endif -%}
                    {%- if product.media[1].width >= 1066 -%}{{ product.media[1] | img_url: '1066x' }} 1066w{%- endif -%}"
                  src="{{ product.media[1] | img_url: '533x' }}"
                  sizes="(min-width: 1520px) {{ 1520 | minus: 130 | divided_by: grid_columns }}px, (min-width: 990px) calc((100vw - 130px) / {{ grid_columns }}), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                  alt="{{ product.media[1].alt | escape }}"
                  loading="lazy"
                  class="motion-reduce lazyload"
                width="{{ product.media[1].width }}"
                height="{{ product.media[1].height }}"
                >
              </div>
            {%- endif -%}
            {% if show_countdown and product.metafields.theme.countdown_date.value != blank %}
              {%- assign date_end = product.metafields.theme.countdown_date.value | date: '%Y-%m-%d' -%}
              {%- assign time_end = product.metafields.theme.countdown_date.value | date: '%H:%M' -%}
              {{ 'section-countdown.css' | asset_url | stylesheet_tag }}
              <div class="product-card__countdown">
                <countdown-timer
                  class="alt-sale countdown-timer--hidden"
                  data-timezone="{{ 'now' | date: '%:z' }}"
                  data-end-date="{{ date_end }}"
                  data-end-time="{{ time_end }}"
                  data-compact="true"
                  data-hide-timer="true"
                >
                  <div class="countdown__timer">
                    <div class="countdown__timer-item">
                      <span data-days-placeholder>00</span>
                      {{ 'general.dateStrings.days' | t }}
                    </div>
                    <div class="countdown__timer-item">
                      <span data-hours-placeholder>00</span>
                      {{ 'general.dateStrings.hours' | t }}
                    </div>
                    <div class="countdown__timer-item">
                      <span data-minutes-placeholder>00</span>
                      {{ 'general.dateStrings.minutes' | t }}
                    </div>
                    <div class="countdown__timer-item">
                      <span data-seconds-placeholder>00</span>
                      {{ 'general.dateStrings.seconds' | t }}
                    </div>
                  </div>
                </countdown-timer>
              </div>
            {% endif %}
          </div>
        {%- else -%}
          <div class="product-card__empty-image media--{{ media_ratio }}">
            <h4 class="product-card__text">{{ product.title }}</h4>
          </div>
        {%- endif -%}
      </a>
      <div class="product-card__information media--{{ media_ratio }}"
        {% if media_ratio == 'adapt' and product.featured_media %} style="padding-top: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;"{% endif %}
      >
        <div class="product-card__information__wrapper">
          <a href="{{ product.url | within: collection }}">
            {% render 'price', product: product, price_class: 'price--listing' %}
            <h3 class="product-card__title product-title-style{% if uppercase_product_title == 'all_caps' %} uppercase{% endif %}">
              {{ product.title }}
              {%- if show_vendor -%}
                <span>{{ product.vendor }}</span>
              {%- endif -%}
            </h3>
            {% assign selected_product = cart.items | where: "product_id", product.id %}

            <span class="product-card__added{% unless selected_product.size > 0 %} hide{% endunless %}"><i class="icon-check {{ icon_style }} fa-check"></i>{{ 'products.product.added_to_cart' | t }}</span>
            <div class="product-card-item__colors{% if selected_product.size > 0 %} hide{% endif %}" data-product-card-colors>
              {% for option in product.options_with_values %}
                {%- assign option_name = option.name | downcase | strip -%}
                {%- assign option_swatch = product_swatches | where: option_name -%}
                {%- if option_swatch.size > 0 -%}
                  {% liquid
                    for item_swatch in product_swatches
                      assign name = item_swatch | downcase | strip
                      if name == option_name
                        assign position = forloop.index0
                        break
                      endif
                    endfor
                    assign color_size = option.values | size
                    assign pluralizeColor = color_size | pluralize: option_name, product_swatches_plural[position]
                  %}
                  <p>{{ color_size }} {{ pluralizeColor }}</p>
                {%- endif -%}
              {% endfor %}
            </div>
            {% if show_rating and selected_product.size == 0 %}
              {% liquid
                assign rating = product.metafields.reviews.rating.value
                assign value_rating = product.metafields.reviews.rating.value.rating
                assign scale_max = product.metafields.reviews.rating.value.scale_max
                assign rating_count = product.metafields.reviews.rating_count
              %}
              {%- if rating != blank -%}
                {% liquid
                  assign rating_decimal = 0
                  assign decimal = value_rating | modulo: 1
                  if decimal >= 0.3 and decimal <= 0.7
                    assign rating_decimal = 0.5
                  elsif decimal > 0.7
                    assign rating_decimal = 1
                  endif
                %}
                <div class="rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: rating, rating_max: scale_max }}">
                  <span aria-hidden="true" class="rating-star" style="--rating: {{ value_rating | floor }}; --rating-max: {{ scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
                  {%- capture reviews_label -%}
                    {{ 'products.product.reviews' | t: count: rating_count }}
                  {%- endcapture -%}
                  <p class="rating-count caption">
                    <span class="visually-hidden">{{ rating_count }} {{ "accessibility.total_reviews" | t }}</span>
                  </p>
                </div>
              {%- endif -%}
            {% endif %}
          </a>

          {%- if show_quick_add and selected_product.size == 0 -%}
            <div class="quick-add no-js-hidden">
              {%- liquid
                assign product_form_id = 'quick-add-' | append: section.id | append: product.id
                assign qty_rules = false
                if product.selected_or_first_available_variant.quantity_rule.min > 1 or product.selected_or_first_available_variant.quantity_rule.max != null or product.selected_or_first_available_variant.quantity_rule.increment > 1
                  assign qty_rules = true
                endif

                assign unavailable_variants = product.variants | where: 'available', false
                if unavailable_variants.size == product.variants.size
                  assign product_is_sold_out = true
                endif
              -%}
              {%- if product.variants.size > 1 or qty_rules -%}
                {% if product_is_sold_out %}
                  <button type="button"
                    aria-label="{{ 'products.product.sold_out' | t }}"
                    class="quick-add__submit btn btn--secondary btn--small"
                    disabled>
                    <div class="product-form__cart-submit-text">
                      <span class="product-form__add-text">
                        {{ 'products.product.sold_out' | t }}
                      </span>
                    </div>
                  </button>
                {% else %}
                  <modal-opener data-modal="#QuickAdd-{{ product.id }}">
                    <button
                      id="{{ product_form_id }}-submit"
                      type="submit"
                      name="add"
                      class="quick-add__submit btn btn--secondary btn--small"
                      aria-haspopup="dialog"
                      aria-labelledby="{{ product_form_id }}-submit title-{{ section.id }}-{{ product.id }}"
                      data-product-url="{{ product.url }}"
                    >
                      <span>{{ 'products.product.quickshop' | t }}</span>
                      <span class="btn__loader" data-loader>
                        <div class="spinner">
                          <div class="bounce1"></div>
                          <div class="bounce2"></div>
                          <div class="bounce3"></div>
                        </div>
                      </span>
                    </button>
                  </modal-opener>
                  <quick-add-modal id="QuickAdd-{{ product.id }}" class="quick-add-modal background-modal">
                    <div class="quick-add-modal-wrap">
                      <div
                        role="dialog"
                        aria-label="Choose options for {{ product.title }}"
                        aria-modal="true"
                        class="quick-add-modal__content global-settings-popup"
                        tabindex="-1"
                      >
                        <button
                          id="ModalClose-{{ product.id }}"
                          type="button"
                          class="btn btn--style-2 modal__close-button btn-close-modal-text focus-inset"
                          aria-label="{{ 'accessibility.close' | t }}"
                        >
                          {{ 'accessibility.close' | t }}
                        </button>
                        <div id="QuickAddInfo-{{ product.id }}" class="quick-add-modal__content-info"></div>
                      </div>
                    </div>
                  </quick-add-modal>
                {% endif %}
              {%- else -%}
                {% if hide_buy_buttons %}
                  <div class="quick-add__submit">
                    <a class="btn btn--secondary btn--small " href="{{ product.url | within: collection }}">
                      {{ 'products.product.customize_it' | t }}
                    </a>
                  </div>
                {% else %}
                  <product-form>
                    {%- form 'product',
                      product,
                      id: product_form_id,
                      class: 'form',
                      novalidate: 'novalidate',
                      data-type: 'add-to-cart-form',
                      data-product-form: ''
                     ,data-loop-product-id:product.id -%}
{% comment %}
  DO NOT modify this source code
  LOOP WIDGET CODE STARTS
{% endcomment %}
{% assign template_exists = false %}
{% capture template_content %}
    {% render 'loop-subscriptions', type: 'product-widget', product: product %}
{% endcapture %}

{% if template_content contains 'Rendering loop-subscriptions' %}
  {% assign template_exists = true %}
{% endif %}

{% if template_exists %}
  {% render 'loop-subscriptions', type: 'product-widget', product: product %}
{% endif %}
{% comment %}
  LOOP WIDGET CODE ENDS
{% endcomment %}
                      <input
                        type="hidden"
                        name="id"
                        value="{{ product.selected_or_first_available_variant.id }}"
                      >
                      <div class="quick-add__button-submit quick-add__submit">
                        <button
                          id="{{ product_form_id }}-submit"
                          type="submit"
                          name="add"
                          class="btn btn--secondary btn--small"
                          aria-haspopup="dialog"
                          aria-labelledby="{{ product_form_id }}-submit title-{{ section.id }}-{{ product.id }}"
                          aria-live="polite"
                          data-sold-out-message="true"
                          {% if product.selected_or_first_available_variant.available == false %}
                            disabled
                          {% endif %}
                          data-add-to-cart
                        >
                          <span class="btn__text" data-add-to-cart-text>
                            {%- if product.selected_or_first_available_variant.available -%}
                              {{ 'products.product.add_to_cart' | t }}
                            {%- else -%}
                              {{ 'products.product.sold_out' | t }}
                            {%- endif -%}
                          </span>
                          <span class="sold-out-message hidden">
                            {{ 'products.product.sold_out' | t }}
                          </span>
                          <span class="btn__loader" data-loader>
                            <div class="spinner">
                              <div class="bounce1"></div>
                              <div class="bounce2"></div>
                              <div class="bounce3"></div>
                            </div>
                          </span>
                          <span class="product-form__error-message-wrapper product-form__error-message--button-in desktop--error hidden"
                            data-error-message-wrapper
                            role="alert"
                            >
                            <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
                            <i class="icon icon-error {{ icon_style }} fa-circle-exclamation"></i>
                            <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
                          </span>
                        </button>
                        <a href="{{ routes.cart_url }}" class="btn btn--small quick-add__open-cart" data-go-to-cart>
                          {% render 'icon-check' %} <span>{{ 'products.product.go_to_cart' | t }}</span>
                        </a>
                      </div>
                    {%- endform -%}
                  </product-form>
                {% endif %}
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
  <div class="product-card__information__wrapper product-card__information__wrapper--hide">
    {% render 'price', product: product, price_class: 'price--listing' %}
    <h3 class="product-card__title product-title-style{% if uppercase_product_title == 'all_caps' %} uppercase{% endif %}">
      {{ product.title }}
      {%- if show_vendor -%}
        <span>{{ product.vendor }}</span>
      {%- endif -%}
    </h3>
    {% assign selected_product = cart.items | where: "product_id", product.id %}
    <span class="product-card__added{% unless selected_product.size > 0 %} hide{% endunless %}"><i class="icon-check {{ icon_style }} fa-check"></i>{{ 'products.product.added_to_cart' | t }}</span>
    <div class="product-card-item__colors{% if selected_product.size > 0 %} hide{% endif %}">
      {% for option in product.options_with_values %}
        {%- assign option_name = option.name | downcase | strip -%}
        {%- assign option_swatch = product_swatches | where: option_name -%}
        {%- if option_swatch.size > 0 -%}
          {% liquid
            for item_swatch in product_swatches
              assign name = item_swatch | downcase | strip
              if name == option_name
                assign position = forloop.index0
                break
              endif
            endfor
            assign color_size = option.values | size
            assign pluralizeColor = color_size | pluralize: option_name, product_swatches_plural[position]
          %}
          <p>{{ color_size }} {{ pluralizeColor }}</p>
        {%- endif -%}
      {% endfor %}
    </div>
    {% if show_rating %}
      {% liquid
        assign rating = product.metafields.reviews.rating.value
        assign value_rating = product.metafields.reviews.rating.value.rating
        assign scale_max = product.metafields.reviews.rating.value.scale_max
        assign rating_count = product.metafields.reviews.rating_count
      %}

      {%- if rating != blank -%}
        {% liquid
          assign rating_decimal = 0
          assign decimal = value_rating | modulo: 1
          if decimal >= 0.3 and decimal <= 0.7
            assign rating_decimal = 0.5
          elsif decimal > 0.7
            assign rating_decimal = 1
          endif
        %}
        <div class="rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: rating, rating_max: scale_max }}">
          <span aria-hidden="true" class="rating-star" style="--rating: {{ value_rating | floor }}; --rating-max: {{ scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
          {%- capture reviews_label -%}
            {{ 'products.product.reviews' | t: count: rating_count }}
          {%- endcapture -%}
          <p class="rating-count caption">
            <span class="visually-hidden">{{ rating_count }} {{ "accessibility.total_reviews" | t }}</span>
          </p>
        </div>
      {%- endif -%}
    {% endif %}
    {%- if show_quick_add and selected_product.size == 0 -%}
      <div class="quick-add--mockup">
        <button class="btn btn--secondary btn--small quick-add__submit">
          <span class="btn__text">
            {%- if product.variants.size > 1 or qty_rules -%}
              {{ 'products.product.quickshop' | t }}
            {%- else -%}
              {%- if product.selected_or_first_available_variant.available -%}
                {{ 'products.product.add_to_cart' | t }}
              {%- else -%}
                {{ 'products.product.sold_out' | t }}
              {%- endif -%}
            {%- endif -%}
          </span>
          <span class="product-form__error-message-wrapper product-form__error-message--button-in desktop--error hidden"
            data-error-message-wrapper
            role="alert"
            >
            <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
            <i class="icon icon-error {{ icon_style }} fa-circle-exclamation"></i>
            <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
          </span>
        </button>
      </div>
    {%- endif -%}
  </div>
</product-card>
