<div class="product__siblings product-meta-selector product-meta-selector--color">
  <fieldset class="product-meta-option product-meta-option--color js product-form__item selector-wrapper" data-selector-button="true">
    <legend class="form__label product-form__label">
      {{ block.settings.sibling_option }}: <span class="product-form__selected-status selected-status--color">
        {{ block.settings.sibling_option_value }}
      </span>
    </legend>
    <ul class="single-option-selector--box product-form__input single-option-selector--box-color">
      {% for sibling in collections[block.settings.sibling_collection].products %}
        {% liquid
          assign value = sibling.metafields.theme.sibling_option_value.value
          assign hadleValue = value | handleize
          assign camelcaseValue = value | camelcase
          assign swatch_size_2x = block.settings.swatch_size | times: 2
          assign colorImgSize = swatch_size_2x | append: 'x' | append: swatch_size_2x
          assign colorImgUrl = hadleValue | append: '.png' | file_img_url: colorImgSize
          assign colorImgSizeVersion = colorImgSize | append: '.png?v='
          assign colorImgVersion = colorImgUrl | split: colorImgSizeVersion
        %}
        <li class="single-option-selector__wrap-option single-option-selector__wrap-option--shape single-option-selector__wrap-option--{{ block.settings.color_swatch_shape }}" style="--swatch-size: {{ block.settings.swatch_size }};">
          <div class="single-option-selector__option-wrap{% if block.settings.sibling_option_value == value %} single-option-selector__option-wrap--checked{% endif %}">
            <div class="single-option-selector__option btn--style-2 single-option-selector__option--color">
              <a class="product__siblings__option" href="{{ sibling.url }}">
                {% if block.settings.color_swatch_type == 'color' %}
                  <span class="selector-color-square chip-color" style="{% if colorImgVersion.size >= 2 %} background-image: url({{ colorImgUrl }});{% else %} background-color: {{ camelcaseValue }};{% endif %}"
                    data-adaptive-text>
                  </span>
                  <span class="selector-color-label-text">{{ value | escape }}</span>
                {% else %}
                  {% assign variant_image = sibling.first_available_variant.image | default: sibling.featured_media %}
                  <span class="visually-hidden">{{ value }}</span>
                  {% if variant_image %}
                    {% assign image_size = block.settings.swatch_size | times: 122 | divided_by: 100 %}
                    {% assign image_size_2x = image_size | plus: 22 | times: 2 | append: 'x' %}
                    <img class="single-option-selector__option__swatch-img lazyload"
                      src="{{ variant_image | img_url: image_size_2x }}"
                      alt="{{ variant_image.alt | escape }}"
                      width="{{ image_size | plus: 22 }}"
                      height="{{ image_size | divided_by: variant_image.aspect_ratio | ceil }}"
                      loading="lazy"
                    >
                  {% endif %}
                {% endif %}
              </a>
            </div>
        </div>
        </li>
      {% endfor %}
    </ul>
  </fieldset>
</div>