{{ 'customer.css' | asset_url | stylesheet_tag }}
<script src="{{ 'customer.js' | asset_url }}" defer></script>

{% assign icon_style = settings.icons_style %}
<div class="customer reset-password">
  <div class="page-width account-login page-width--without-padding">
    <div class="account-card-wrapper background-modal">
      <div class="account__form-content">
        <div class="form-vertical">
          {% form 'reset_customer_password', id: 'ResetForm' %}

            <div class="text-center">
              <h1 class="text-center account-login__title">{{ 'customer.reset_password.title' | t }}</h1>
              <p class="text-center account-login__text">{{ 'customer.reset_password.subtext' | t: email: email }}</p>
            </div>

            <div class="field-wrapper">
              <input
                type="password"
                value=""
                name="customer[password]"
                id="ResetPassword"
                aria-required="true"
                class="field-wrapper__input{% if form.errors contains 'password' %} input--error{% endif %}"
                placeholder="{{ 'customer.reset_password.password' | t }}"
              >
              <label class="field-wrapper__label" for="ResetPassword"><span class="field-wrapper__label-name">{{ 'customer.reset_password.password' | t }}</span></label>
              <span class="field-wrapper__icon-error hide" aria-invalid="true">
                <i class="icon icon-error {{ icon_style }} fa-circle-exclamation"></i>
              </span>
            </div>
            <span class="input-error-message hide">
              <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
              <span></span>
            </span>

            <div class="field-wrapper">
              <input
                type="password"
                value=""
                name="customer[password_confirmation]"
                id="PasswordConfirmation"
                aria-required="true"
                class="field-wrapper__input field-wrapper__input--required{% if form.errors contains 'password_confirmation' %} input--error{% endif %}"
                placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
              >
              <label class="field-wrapper__label" for="PasswordConfirmation"><span class="field-wrapper__label-name">{{ 'customer.reset_password.password_confirm' | t }}</span></label>
              <span class="field-wrapper__icon-error hide" aria-invalid="true">
                <i class="icon icon-error {{ icon_style }} fa-circle-exclamation"></i>
              </span>
            </div>
            <span class="input-error-message hide">
              <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
              <span></span>
            </span>

            <p class="requirement-form{% if form.errors %} hide{% endif %}">{{ 'customer.reset_password.requirement_txt' | t }}</p>

            <div class="form-message form-message--error">
              {%- if form.errors -%}
                {{ form.errors | default_errors }}
              {%- endif -%}
            </div>

            <div class="input-group__btn">
              <a href="{{ routes.account_login_url }}" class="btn btn--secondary">
                {{ 'customer.reset_password.cancel' | t }}
              </a>
              <button type="submit" class="btn">
                <span>{{ 'customer.reset_password.submit' | t }}</span>
                <span class="btn__loader" data-loader>
                  <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </div>
                </span>
              </button>
            </div>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  window.onload = () => {
    typeof ComfirmPassword !== 'undefined' && new ComfirmPassword();
  }
</script>
