<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5" />
  <meta name="theme-color" content="" />
  <meta name="facebook-domain-verification" content="xiunf82sh7hcg0emstmxzr55ak6rv2" />
      <meta name="google-site-verification" content="6vUhnJSsBb8cQ3zqgN7dWZGVFwQ05VYksJZkmIDx23M" />

  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MK5MCXTG');</script>
  <!-- End Google Tag Manager -->

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-RZYWJ6S0R1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-RZYWJ6S0R1');
  </script>



  {%- if settings.favicon != blank -%}
    <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
  {%- endif -%}

  {%- unless settings.type_header_font.system? and settings.type_body_font.system? and settings.type_button_font.system? and settings.type_accent_font.system? -%}
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  {%- endunless -%}

  <title>
    {{ page_title }}
    {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
    {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
    {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
  </title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% render 'meta-tags' %}

  <script src="{{ 'fontawesome.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'constants.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'pubsub.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'variants.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'lite-gallery.js' | asset_url }}" defer="defer"></script>

  {{ content_for_header }}

  {% liquid
    assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
    assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
    assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    assign uppercase_headings = settings.uppercase_headings
  %}

  {% style %}
    {{ settings.type_body_font | font_face: font_display: 'swap' }}
    {{ body_font_bold | font_face: font_display: 'swap' }}
    {{ body_font_italic | font_face: font_display: 'swap' }}
    {{ body_font_bold_italic | font_face: font_display: 'swap' }}
    {{ settings.type_header_font | font_face: font_display: 'swap' }}
    {{ settings.type_button_font | font_face: font_display: 'swap' }}
    {{ settings.type_accent_font | font_face: font_display: 'swap' }}

    :root {
      --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
      --font-heading-style: {{ settings.type_header_font.style }};
      --font-heading-weight: {{ settings.type_header_font.weight }};
      --font-heading-line-height: {{ settings.header_line_height }};

      --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
      --font-body-style: {{ settings.type_body_font.style }};
      --font-body-weight: {{ settings.type_body_font.weight }};
      --font-body-weight-bold: {{ settings.type_body_font.weight | plus: 300 | at_most: 1000 }};

      --font-button-family: {{ settings.type_button_font.family }}, {{ settings.type_button_font.fallback_families }};
      --font-button-style: {{ settings.type_button_font.style }};
      --font-button-weight: {{ settings.type_button_font.weight }};

      --font-accent-family: {{ settings.type_accent_font.family }}, {{ settings.type_accent_font.fallback_families }};
      --font-accent-style: {{ settings.type_accent_font.style }};
      --font-accent-weight: {{ settings.type_accent_font.weight }};

      --font-subheading-family: {% if settings.font_subheading_style == 'heading' %}{{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }}{% else%}{{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }}{% endif %};
      --font-subheading-style: {% if settings.font_subheading_style == 'heading' %}{{ settings.type_header_font.style }}{% else%}{{ settings.type_body_font.style }}{% endif %};
      --font-subheading-weight: {% if settings.font_subheading_style == 'heading' %}{{ settings.type_header_font.weight }}{% else%}{{ settings.type_body_font.weight }}{% endif %};
      --font-subheading-scale: {% if settings.font_subheading_style == 'heading' %}{{ settings.heading_scale | times: 1.0 | divided_by: settings.body_scale }}{% else%}{{ settings.body_scale | divided_by: 100.0 }}{% endif %};

      --font-price-family: {% if settings.font_price_style == 'heading' %}{{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }}{% else%}{{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }}{% endif %};
      --font-price-style: {% if settings.font_price_style == 'heading' %}{{ settings.type_header_font.style }}{% else%}{{ settings.type_body_font.style }}{% endif %};
      --font-price-weight: {% if settings.font_price_style == 'heading' %}{{ settings.type_header_font.weight }}{% else%}{{ settings.type_body_font.weight }}{% endif %};
      --font-price-scale: {% if settings.font_price_style == 'heading' %}{{ settings.heading_scale | times: 1.0 | divided_by: settings.body_scale }}{% else%}{{ settings.body_scale | divided_by: 100.0 }}{% endif %};

      --font-body-scale: {{ settings.body_scale | divided_by: 100.0 }};
      --font-button-scale: {{ settings.button_scale | divided_by: 100.0 }};
      --font-accent-scale: {{ settings.accent_scale | divided_by: 100.0 }};
      --font-heading-scale: {{ settings.heading_scale | times: 1.0 | divided_by: settings.body_scale }};

      --color-base-primary-background: {{ settings.color_primary_background.red }}, {{ settings.color_primary_background.green }}, {{ settings.color_primary_background.blue }};
      --color-base-primary-text-1: {{ settings.color_primary_text_1.red }}, {{ settings.color_primary_text_1.green }}, {{ settings.color_primary_text_1.blue }};
      --color-base-primary-text-2: {{ settings.color_primary_text_2.red }}, {{ settings.color_primary_text_2.green }}, {{ settings.color_primary_text_2.blue }};
      --color-base-primary-button: {{ settings.color_primary_button.red }}, {{ settings.color_primary_button.green }}, {{ settings.color_primary_button.blue }};
      --color-base-primary-button-text: {{ settings.color_primary_button_text.red }}, {{ settings.color_primary_button_text.green }}, {{ settings.color_primary_button_text.blue }};
      --color-base-errors-1: {{ settings.color_errors_1.red }}, {{ settings.color_errors_1.green }}, {{ settings.color_errors_1.blue }};
      --color-base-alt-background-1: {{ settings.color_alt_background_1.red }}, {{ settings.color_alt_background_1.green }}, {{ settings.color_alt_background_1.blue }};
      --color-base-alt-1-text-1: {{ settings.color_accent_1_text_1.red }}, {{ settings.color_accent_1_text_1.green }}, {{ settings.color_accent_1_text_1.blue }};
      --color-base-alt-1-text-2: {{ settings.color_accent_1_text_2.red }}, {{ settings.color_accent_1_text_2.green }}, {{ settings.color_accent_1_text_2.blue }};
      --color-base-alt-button-1: {{ settings.color_alt_button_1.red }}, {{ settings.color_alt_button_1.green }}, {{ settings.color_alt_button_1.blue }};
      --color-base-alt-button-text-1: {{ settings.color_alt_button_text_1.red }}, {{ settings.color_alt_button_text_1.green }}, {{ settings.color_alt_button_text_1.blue }};
      --color-base-errors-2: {{ settings.color_errors_2.red }}, {{ settings.color_errors_2.green }}, {{ settings.color_errors_2.blue }};
      --color-base-alt-background-2: {{ settings.color_alt_background_2.red }}, {{ settings.color_alt_background_2.green }}, {{ settings.color_alt_background_2.blue }};
      --color-base-alt-2-text-1: {{ settings.color_accent_2_text_1.red }}, {{ settings.color_accent_2_text_1.green }}, {{ settings.color_accent_2_text_1.blue }};
      --color-base-alt-2-text-2: {{ settings.color_accent_2_text_2.red }}, {{ settings.color_accent_2_text_2.green }}, {{ settings.color_accent_2_text_2.blue }};
      --color-base-alt-button-2: {{ settings.color_alt_button_2.red }}, {{ settings.color_alt_button_2.green }}, {{ settings.color_alt_button_2.blue }};
      --color-base-alt-button-text-2: {{ settings.color_alt_button_text_2.red }}, {{ settings.color_alt_button_text_2.green }}, {{ settings.color_alt_button_text_2.blue }};
      --color-base-errors-3: {{ settings.color_errors_3.red }}, {{ settings.color_errors_3.green }}, {{ settings.color_errors_3.blue }};
      --color-base-alt-background-3: {{ settings.color_alt_background_3.red }}, {{ settings.color_alt_background_3.green }}, {{ settings.color_alt_background_3.blue }};
      --color-base-alt-3-text-1: {{ settings.color_accent_3_text_1.red }}, {{ settings.color_accent_3_text_1.green }}, {{ settings.color_accent_3_text_1.blue }};
      --color-base-alt-3-text-2: {{ settings.color_accent_3_text_2.red }}, {{ settings.color_accent_3_text_2.green }}, {{ settings.color_accent_3_text_2.blue }};
      --color-base-alt-button-3: {{ settings.color_alt_button_3.red }}, {{ settings.color_alt_button_3.green }}, {{ settings.color_alt_button_3.blue }};
      --color-base-alt-button-text-3: {{ settings.color_alt_button_text_3.red }}, {{ settings.color_alt_button_text_3.green }}, {{ settings.color_alt_button_text_3.blue }};
      --color-base-errors-4: {{ settings.color_errors_4.red }}, {{ settings.color_errors_4.green }}, {{ settings.color_errors_4.blue }};
      --color-base-background-modal: {{ settings.color_background_modal.red }}, {{ settings.color_background_modal.green }}, {{ settings.color_background_modal.blue }};
      --color-base-modal-text-1: {{ settings.color_modal_text_1.red }}, {{ settings.color_modal_text_1.green }}, {{ settings.color_modal_text_1.blue }};
      --color-base-modal-text-2: {{ settings.color_modal_text_2.red }}, {{ settings.color_modal_text_2.green }}, {{ settings.color_modal_text_2.blue }};
      --color-base-modal-button: {{ settings.color_modal_button.red }}, {{ settings.color_modal_button.green }}, {{ settings.color_modal_button.blue }};
      --color-base-modal-button-text: {{ settings.color_modal_button_text.red }}, {{ settings.color_modal_button_text.green }}, {{ settings.color_modal_button_text.blue }};
      --color-base-errors-5: {{ settings.color_errors_5.red }}, {{ settings.color_errors_5.green }}, {{ settings.color_errors_5.blue }};
      --color-base-sale: {{ settings.sale_color.red }}, {{ settings.sale_color.green }}, {{ settings.sale_color.blue }};
      --color-base-promo-tag-background: {{ settings.promo_tag_background.red }}, {{ settings.promo_tag_background.green }}, {{ settings.promo_tag_background.blue }};
      --color-base-promo-tag-text: {{ settings.promo_tag_text.red }}, {{ settings.promo_tag_text.green }}, {{ settings.promo_tag_text.blue }};
      --color-base-notification: {{ settings.color_notification.red }}, {{ settings.color_notification.green }}, {{ settings.color_notification.blue }};
      --color-base-notification-text: {{ settings.color_text_notification.red }}, {{ settings.color_text_notification.green }}, {{ settings.color_text_notification.blue }};

      --page-width: {{ 1200 | divided_by: 16 }}rem;
      --page-width-margin: 2rem;

      --border-radius: {{ settings.border_radius | divided_by: 100.0 }};
    }

    *,
    *::before,
    *::after {
      box-sizing: inherit;
    }

    html {
      box-sizing: border-box;
      font-size: calc(var(--font-body-scale) * 100%);
    }

    body {
      display: grid;
      grid-template-rows: auto auto 1fr auto;
      grid-template-columns: 100%;
      min-height: 100%;
      margin: 0;
      font-size: 1rem;
      line-height: calc(1 + 0.25 / var(--font-body-scale));
      font-family: var(--font-body-family);
      font-style: var(--font-body-style);
      font-weight: var(--font-body-weight);
    }

    @media screen and (max-width: 768px) {
      body {
        font-size: 1.0625rem;
      }
    }
  {% endstyle %}

  <link rel="preload" href="{{ 'slick.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ 'slick.css' | asset_url }}"></noscript>
  {{ 'slick-theme.css' | asset_url | stylesheet_tag }}
  {{ 'base.css' | asset_url | stylesheet_tag }}
  {{ 'section-sub-footer.css' | asset_url | stylesheet_tag }}

  {%- unless settings.type_body_font.system? -%}
    <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
  {%- endunless -%}
  {%- unless settings.type_header_font.system? -%}
    <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
  {%- endunless -%}
  {%- unless settings.type_button_font.system? -%}
    <link rel="preload" as="font" href="{{ settings.type_button_font | font_url }}" type="font/woff2" crossorigin>
  {%- endunless -%}
  {%- unless settings.type_accent_font.system? -%}
    <link rel="preload" as="font" href="{{ settings.type_accent_font | font_url }}" type="font/woff2" crossorigin>
  {%- endunless -%}

  {%- if settings.predictive_search_enabled -%}
    <link rel="stylesheet" href="{{ 'component-predictive-search.css' | asset_url }}" media="print" onload="this.media='all'">
  {%- endif -%}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    if (Shopify.designMode) {
      document.documentElement.classList.add('shopify-design-mode');
    }
  </script>
{% capture boostersnippet %}{% include "booster-apps-common" %}{% endcapture %}{% unless boostersnippet contains "Liquid error" %}{{ boostersnippet }}{% endunless %}

      <script type="text/javascript" id="loop-subscription-script" src="{{ 'loop-widget.js' | asset_url }}"></script>
    
</head>


    <style class="loop-style"> {% render 'loop-widget.css' %} </style>
    
<body class="{% if template contains 'product' %}product-{{ product.handle }}{% endif %} {{ template.suffix }} template-{{ template.name }}{% if template.name == 'page' %} page-{{ page.handle }}{% endif %} template-{{ request.page_type | handle }} skeleton-font--loading{% if  uppercase_headings == 'all_caps' %} body-headings--uppercase{% endif %}">
  <a class="skip-to-content-link btn visually-hidden" href="#MainContent">
    {{ "accessibility.skip_to_text" | t }}
  </a>

  {%- if settings.cart_type == 'drawer' and request.page_type != 'cart' -%}
    {%- section 'cart-drawer' -%}
  {%- endif -%}

  {% sections 'header-group' %}
  <div class="page-container drawer-page-content" id="PageContainer">
    {% if settings.home_search_enabled == true and request.page_type == 'index' %}
      <script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>
      {% render 'search-home-field' %}
    {% endif %}
    <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">

    {%- if request.path contains 'loop_subscriptions/bundle' or request.path contains 'loop_subscriptions/customer' -%}
      {% render 'loop_loader' %}
    {%- endif -%}
  
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    <div id="slideshow-info" class="visually-hidden" aria-hidden="true">
      {{- 'sections.slideshow.navigation_instructions' | t -}}
    </div>
  </div>

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
  </ul>

  <script>
    window.routes = {
      shop_url: '{{ shop.url }}',
      cart_add_url: '{{ routes.cart_add_url }}',
      cart_change_url: '{{ routes.cart_change_url }}',
      cart_update_url: '{{ routes.cart_update_url }}',
      cart_clear_url: '{{ routes.cart_clear_url }}',
      cart_url: '{{ routes.cart_url }}',
      predictive_search_url: '{{ routes.predictive_search_url }}'
    };

    window.cartStrings = {
      error: `{{ 'sections.cart.cart_error' | t }}`,
      quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t }}`
    }

    window.loginStrings = {
      errorEmailRequired: `{{ 'customer.form_errors.error_email_required' | t }}`,
      errorEmailInvalid: `{{ 'customer.form_errors.error_email_invalid' | t }}`,
      errorPasswordRequired: `{{ 'customer.form_errors.error_password_required' | t }}`,
      errorPasswordTooShort: `{{ 'customer.form_errors.error_password_too_short' | t }}`,
      errorPasswordMustMatch: `{{ 'customer.form_errors.error_password_must_match' | t }}`
    }

    window.variantStrings = {
      addToCart: `{{ 'products.product.add_to_cart' | t }}`,
      soldOut: `{{ 'products.product.sold_out' | t }}`,
      inStock: `{{ 'products.product.in_stock' | t }}`,
      unavailable: `{{ 'products.product.unavailable' | t }}`,
      lowStock: `{{ 'products.product.low_stock' | t: quantity: '[quantity]' }}`,
      lowStockError: `{{ 'products.product.low_stock_error' | t: quantity: '[quantity]' }}`,
      variantValidError: `{{ 'products.product.variant_valid_error' | t }}`,
      customPropertyError: `{{- 'products.product.custom_property_error' | t -}}`,
      fileRequiredError: `{{ 'general.form_errors.this_field_required' | t }}`,
      fileSizeError: `{{ 'general.form_errors.file_size_large' | t }}`
    }

    window.iconColors = {
      dark: `rgb({{ settings.color_modal_text_1.red }}, {{ settings.color_modal_text_1.green }}, {{ settings.color_modal_text_1.blue }})`,
      light: `rgb({{ settings.color_primary_background.red }}, {{ settings.color_primary_background.green }}, {{ settings.color_primary_background.blue }})`
    }
  </script>

  {%- if settings.show_quick_add -%}
    {{ 'quick-add.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {%- if settings.predictive_search_enabled and request.page_type != 'search' -%}
    <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}
  {%- if request.design_mode -%}
    <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  
<script>
(function() {
  function getQueryParam(name) {
    const urlParams = new URLSearchParams(window.location.search);
    return urlParams.get(name);
  }

  const repParam = getQueryParam('rep');
  if (repParam) {
    localStorage.setItem('sales_rep', repParam);

    fetch('/cart.js')
      .then(res => res.json())
      .then(cart => {
        const currentNote = cart.note || '';
        const noteWithRep = `Sales Rep: ${repParam}`;

        // Only update the note if not already set
        if (!currentNote.includes(`Sales Rep:`)) {
          return fetch('/cart/update.js', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
              note: noteWithRep
            })
          });
        }
      });
  }
})();
</script>

  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MK5MCXTG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
</body>
</html>
