{% liquid
  assign icon_style = settings.icons_style
  assign brand_icons = 'facebook, instagram, pinterest, snapchat, tiktok, tumblr, twitter, vimeo, youtube' | split: ','
%}

{%- style -%}
  .section-{{ section.id }}-margin {
    padding-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-margin {
      padding-top: {{ section.settings.margin_top }}px;
      padding-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-margin">
  <quality-checklist>
    {%- if section.settings.link != blank -%}
      <a class="checklist-link-wrap" href="{{ section.settings.link }}">
    {%- endif -%}
    <div class="checklist-wrap {{ section.settings.background }} {{ section.settings.font_type }}" style="--font-section-scale: {{ section.settings.font_size | divided_by: 100.0 }};">
      <div class="checklist-wrap__image">
        {% if section.settings.image != blank %}
          <div class="media media--transparent" {%- if section.settings.show_scrim -%} style="--scrim-lightness: {{ section.settings.scrim_lightness }}, {{ section.settings.scrim_lightness }}, {{ section.settings.scrim_lightness }}"{%- endif -%}>
            {% assign image_height =  section.settings.image.width | divided_by: section.settings.image.aspect_ratio %}
            {% assign sizes = "(max-width: 768px) calc(100vw - 1.5rem), (max-width: 1024px) calc((100vw - 1.5rem) / 2), (max-width: 1520px) calc((100vw - 5.5rem) / 3), calc((1520px - 5.5rem) / 3)" %}

            {{ section.settings.image | image_url: width: 540 | image_tag:
              loading: 'lazy',
              class: 'lazyload',
              width: section.settings.image.width,
              height: image_height,
              sizes: sizes,
              widths: '200, 300, 400, 540',
              alt: section.settings.image.alt | escape
            }}
          </div>
        {% endif %}
        {% if section.settings.text != blank %}
          <h2 class="h2">{{ section.settings.text }}</h2>
        {% elsif section.settings.icon != 'none' %}
          {% assign brand_icon = brand_icons | where: section.settings.icon | first %}
          {% if brand_icon %}
            {% assign icon_style = 'fa-brands' %}
          {% endif %}
          <i class="icon {{ icon_style }} fa-{{ section.settings.icon }}"></i>
        {% endif %}
      </div>
      <ul>
        {% for block in section.blocks %}
          <li {{ section.shopify_attributes }}>
            {% if block.settings.icon != 'none' %}
              {% assign brand_icon = brand_icons | where: block.settings.icon | first %}
              {% if brand_icon %}
                {% assign icon_style = 'fa-brands' %}
              {% endif %}
              <i class="icon {{ icon_style }} fa-{{ block.settings.icon }}"></i>
            {% endif %}
            <span class="checklist__line-text h2">{{ block.settings.text }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
    {%- if section.settings.link != blank -%}
      </a>
    {%- endif -%}
  </quality-checklist>
</div>

{% schema %}
{
  "name": "t:sections.checklist.name",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.checklist.settings.image.label",
      "info": "t:sections.checklist.settings.image.info"
    },
    {
      "type": "checkbox",
      "id": "show_scrim",
      "default": false,
      "label": "t:general.show_scrim.label",
      "info": "t:general.show_scrim.info"
    },
    {
      "type": "range",
      "id": "scrim_lightness",
      "min": 0,
      "max": 255,
      "step": 15,
      "default": 0,
      "label": "t:general.scrim_lightness.label",
      "info": "t:general.scrim_lightness.info"
    },
    {
      "type": "select",
      "id": "icon",
      "options": [
        {
          "value": "none",
          "label": "t:general.icons-theme.options__1.label"
        },
        {
          "group": "Basic icons",
          "label": "t:general.icons-theme.options__2.label",
          "value": "user"
        },
        {
          "group": "Basic icons",
          "label": "Arrow down to bracket",
          "value": "arrow-down-to-bracket"
        },
        {
          "group": "Basic icons",
          "label": "Arrow left",
          "value": "arrow-left"
        },
        {
          "group": "Basic icons",
          "label": "Arrow right arrow left",
          "value": "arrow-right-arrow-left"
        },
        {
          "group": "Basic icons",
          "label": "Arrow right",
          "value": "arrow-right"
        },
        {
          "group": "Basic icons",
          "label": "Arrow up right from square",
          "value": "arrow-up-right-from-square"
        },
        {
          "group": "Basic icons",
          "label": "Arrow up",
          "value": "arrow-up"
        },
        {
          "group": "Basic icons",
          "label": "Arrows maximize",
          "value": "arrows-maximize"
        },
        {
          "group": "Basic icons",
          "label": "Arrows repeat",
          "value": "arrows-repeat"
        },
        {
          "group": "Basic icons",
          "label": "Arrows rotate",
          "value": "arrows-rotate"
        },
        {
          "group": "Basic icons",
          "label": "Block question",
          "value": "block-question"
        },
        {
          "group": "Basic icons",
          "label": "Chevron down",
          "value": "chevron-down"
        },
        {
          "group": "Basic icons",
          "label": "Chevron left",
          "value": "chevron-left"
        },
        {
          "group": "Basic icons",
          "label": "Chevron right",
          "value": "chevron-right"
        },
        {
          "group": "Basic icons",
          "label": "Chevron up",
          "value": "chevron-up"
        },
        {
          "group": "Basic icons",
          "label": "Circle exclamation",
          "value": "circle-exclamation"
        },
        {
          "group": "Basic icons",
          "label": "Clock rotate left",
          "value": "clock-rotate-left"
        },
        {
          "group": "Basic icons",
          "label": "Exclamation",
          "value": "exclamation"
        },
        {
          "group": "Basic icons",
          "label": "House",
          "value": "house"
        },
        {
          "group": "Basic icons",
          "label": "Magnifying glass",
          "value": "magnifying-glass"
        },
        {
          "group": "Basic icons",
          "label": "Merge",
          "value": "merge"
        },
        {
          "group": "Basic icons",
          "label": "Plus",
          "value": "plus"
        },
        {
          "group": "Basic icons",
          "label": "Question",
          "value": "question"
        },
        {
          "group": "Basic icons",
          "label": "Rotate left",
          "value": "rotate-left"
        },
        {
          "group": "Basic icons",
          "label": "Seal exclamation",
          "value": "seal-exclamation"
        },
        {
          "group": "Basic icons",
          "label": "Seal question",
          "value": "seal-question"
        },
        {
          "group": "Basic icons",
          "label": "Shield exclamation",
          "value": "shield-exclamation"
        },
        {
          "group": "Commerce & marketing",
          "label": "Badge check",
          "value": "badge-check"
        },
        {
          "group": "Commerce & marketing",
          "label": "Badge dollar",
          "value": "badge-dollar"
        },
        {
          "group": "Commerce & marketing",
          "label": "Badge",
          "value": "badge"
        },
        {
          "group": "Commerce & marketing",
          "label": "Bag shopping",
          "value": "bag-shopping"
        },
        {
          "group": "Commerce & marketing",
          "label": "Basket shopping",
          "value": "basket-shopping"
        },
        {
          "group": "Commerce & marketing",
          "label": "Bell",
          "value": "bell"
        },
        {
          "group": "Commerce & marketing",
          "label": "Box check",
          "value": "box-check"
        },
        {
          "group": "Commerce & marketing",
          "label": "Box",
          "value": "box"
        },
        {
          "group": "Commerce & marketing",
          "label": "Bullseye arrow",
          "value": "bullseye-arrow"
        },
        {
          "group": "Commerce & marketing",
          "label": "Cart shopping",
          "value": "cart-shopping"
        },
        {
          "group": "Commerce & marketing",
          "label": "Certificate",
          "value": "certificate"
        },
        {
          "group": "Commerce & marketing",
          "label": "Check",
          "value": "check"
        },
        {
          "group": "Commerce & marketing",
          "label": "Flag",
          "value": "flag"
        },
        {
          "group": "Commerce & marketing",
          "label": "Gift card",
          "value": "gift-card"
        },
        {
          "group": "Commerce & marketing",
          "label": "Gift",
          "value": "gift"
        },
        {
          "group": "Commerce & marketing",
          "label": "Hand holding box",
          "value": "hand-holding-box"
        },
        {
          "group": "Commerce & marketing",
          "label": "Heart",
          "value": "heart"
        },
        {
          "group": "Commerce & marketing",
          "label": "Leaf",
          "value": "leaf"
        },
        {
          "group": "Commerce & marketing",
          "label": "Lightbulb dollar",
          "value": "lightbulb-dollar"
        },
        {
          "group": "Commerce & marketing",
          "label": "Lightbulb on",
          "value": "lightbulb-on"
        },
        {
          "group": "Commerce & marketing",
          "label": "Location check",
          "value": "location-check"
        },
        {
          "group": "Commerce & marketing",
          "label": "Location pin",
          "value": "location-pin"
        },
        {
          "group": "Commerce & marketing",
          "label": "Lock",
          "value": "lock"
        },
        {
          "group": "Commerce & marketing",
          "label": "Map pin",
          "value": "map-pin"
        },
        {
          "group": "Commerce & marketing",
          "label": "Map",
          "value": "map"
        },
        {
          "group": "Commerce & marketing",
          "label": "Party horn",
          "value": "party-horn"
        },
        {
          "group": "Commerce & marketing",
          "label": "Recycle",
          "value": "recycle"
        },
        {
          "group": "Commerce & marketing",
          "label": "Scale balanced",
          "value": "scale-balanced"
        },
        {
          "group": "Commerce & marketing",
          "label": "Shield check",
          "value": "shield-check"
        },
        {
          "group": "Commerce & marketing",
          "label": "Sparkle",
          "value": "sparkle"
        },
        {
          "group": "Commerce & marketing",
          "label": "Star",
          "value": "star"
        },
        {
          "group": "Commerce & marketing",
          "label": "Tag",
          "value": "tag"
        },
        {
          "group": "Commerce & marketing",
          "label": "Truck fast",
          "value": "truck-fast"
        },
        {
          "group": "Commerce & marketing",
          "label": "Truck",
          "value": "truck"
        },
        {
          "group": "Communication",
          "label": "Bullhorn",
          "value": "bullhorn"
        },
        {
          "group": "Communication",
          "label": "Calendar days",
          "value": "calendar-days"
        },
        {
          "group": "Communication",
          "label": "Comment",
          "value": "comment"
        },
        {
          "group": "Communication",
          "label": "Comments",
          "value": "comments"
        },
        {
          "group": "Communication",
          "label": "Compass",
          "value": "compass"
        },
        {
          "group": "Communication",
          "label": "Envelope",
          "value": "envelope"
        },
        {
          "group": "Communication",
          "label": "File",
          "value": "file"
        },
        {
          "group": "Communication",
          "label": "Folder",
          "value": "folder"
        },
        {
          "group": "Communication",
          "label": "Globe",
          "value": "globe"
        },
        {
          "group": "Communication",
          "label": "Pen",
          "value": "pen"
        },
        {
          "group": "Communication",
          "label": "Phone volume",
          "value": "phone-volume"
        },
        {
          "group": "Communication",
          "label": "Quote left",
          "value": "quote-left"
        },
        {
          "group": "Communication",
          "label": "Quote right",
          "value": "quote-right"
        },
        {
          "group": "Communication",
          "label": "Thought bubble",
          "value": "thought-bubble"
        },
        {
          "group": "Communication",
          "label": "User headset",
          "value": "user-headset"
        },
        {
          "group": "Family & children",
          "label": "Baby carriage",
          "value": "baby-carriage"
        },
        {
          "group": "Family & children",
          "label": "Baby",
          "value": "baby"
        },
        {
          "group": "Family & children",
          "label": "Backpack",
          "value": "backpack"
        },
        {
          "group": "Family & children",
          "label": "Balloon",
          "value": "balloon"
        },
        {
          "group": "Family & children",
          "label": "Bath",
          "value": "bath"
        },
        {
          "group": "Family & children",
          "label": "Cake candles",
          "value": "cake-candles"
        },
        {
          "group": "Family & children",
          "label": "Child",
          "value": "child"
        },
        {
          "group": "Family & children",
          "label": "Child dress",
          "value": "child-dress"
        },
        {
          "group": "Family & children",
          "label": "Child reaching",
          "value": "child-reaching"
        },
        {
          "group": "Family & children",
          "label": "Children",
          "value": "children"
        },
        {
          "group": "Family & children",
          "label": "Duck",
          "value": "duck"
        },
        {
          "group": "Family & children",
          "label": "Family",
          "value": "family"
        },
        {
          "group": "Family & children",
          "label": "Hand holding heart",
          "value": "hand-holding-heart"
        },
        {
          "group": "Family & children",
          "label": "Hands holding child",
          "value": "hands-holding-child"
        },
        {
          "group": "Family & children",
          "label": "Mitten",
          "value": "mitten"
        },
        {
          "group": "Family & children",
          "label": "Palette",
          "value": "palette"
        },
        {
          "group": "Family & children",
          "label": "Person breastfeeding",
          "value": "person-breastfeeding"
        },
        {
          "group": "Family & children",
          "label": "Person dress",
          "value": "person-dress"
        },
        {
          "group": "Family & children",
          "label": "Person pregnant",
          "value": "person-pregnant"
        },
        {
          "group": "Family & children",
          "label": "Piñata",
          "value": "piñata"
        },
        {
          "group": "Family & children",
          "label": "Puzzle piece",
          "value": "puzzle-piece"
        },
        {
          "group": "Family & children",
          "label": "Robot",
          "value": "robot"
        },
        {
          "group": "Family & children",
          "label": "School",
          "value": "school"
        },
        {
          "group": "Family & children",
          "label": "Scissors",
          "value": "scissors"
        },
        {
          "group": "Family & children",
          "label": "Shapes",
          "value": "shapes"
        },
        {
          "group": "Family & children",
          "label": "Teddy bear",
          "value": "teddy-bear"
        },
        {
          "group": "Family & children",
          "label": "Tricycle",
          "value": "tricycle"
        },
        {
          "group": "Pets & animals",
          "label": "Bee",
          "value": "bee"
        },
        {
          "group": "Pets & animals",
          "label": "Bird",
          "value": "bird"
        },
        {
          "group": "Pets & animals",
          "label": "Bugs",
          "value": "bugs"
        },
        {
          "group": "Pets & animals",
          "label": "Cat",
          "value": "cat"
        },
        {
          "group": "Pets & animals",
          "label": "Dog leashed",
          "value": "dog-leashed"
        },
        {
          "group": "Pets & animals",
          "label": "Dog",
          "value": "dog"
        },
        {
          "group": "Pets & animals",
          "label": "Dragon",
          "value": "dragon"
        },
        {
          "group": "Pets & animals",
          "label": "Feather",
          "value": "feather"
        },
        {
          "group": "Pets & animals",
          "label": "Fish",
          "value": "fish"
        },
        {
          "group": "Pets & animals",
          "label": "Frog",
          "value": "frog"
        },
        {
          "group": "Pets & animals",
          "label": "Monkey",
          "value": "monkey"
        },
        {
          "group": "Pets & animals",
          "label": "Paw",
          "value": "paw"
        },
        {
          "group": "Pets & animals",
          "label": "Rabbit",
          "value": "rabbit"
        },
        {
          "group": "Pets & animals",
          "label": "Shield cat",
          "value": "shield-cat"
        },
        {
          "group": "Pets & animals",
          "label": "Shield dog",
          "value": "shield-dog"
        },
        {
          "group": "Pets & animals",
          "label": "Shrimp",
          "value": "shrimp"
        },
        {
          "group": "Pets & animals",
          "label": "Snake",
          "value": "snake"
        },
        {
          "group": "Pets & animals",
          "label": "Spider",
          "value": "spider"
        },
        {
          "group": "Pets & animals",
          "label": "Turtle",
          "value": "turtle"
        },
        {
          "group": "Clothing & fashion",
          "label": "Glasses",
          "value": "glasses"
        },
        {
          "group": "Clothing & fashion",
          "label": "Graduation cap",
          "value": "graduation-cap"
        },
        {
          "group": "Clothing & fashion",
          "label": "Hat winter",
          "value": "hat-winter"
        },
        {
          "group": "Clothing & fashion",
          "label": "Scarf",
          "value": "scarf"
        },
        {
          "group": "Clothing & fashion",
          "label": "Shirt long sleeve",
          "value": "shirt-long-sleeve"
        },
        {
          "group": "Clothing & fashion",
          "label": "Shirt",
          "value": "shirt"
        },
        {
          "group": "Clothing & fashion",
          "label": "Socks",
          "value": "socks"
        },
        {
          "group": "Clothing & fashion",
          "label": "Sunglasses",
          "value": "sunglasses"
        },
        {
          "group": "Garment care",
          "label": "Clothes hanger",
          "value": "clothes-hanger"
        },
        {
          "group": "Garment care",
          "label": "Dryer heat",
          "value": "dryer-heat"
        },
        {
          "group": "Garment care",
          "label": "Dryer",
          "value": "dryer"
        },
        {
          "group": "Garment care",
          "label": "Hand holding droplet",
          "value": "hand-holding-droplet"
        },
        {
          "group": "Garment care",
          "label": "Hands bubbles",
          "value": "hands-bubbles"
        },
        {
          "group": "Garment care",
          "label": "Jug detergent",
          "value": "jug-detergent"
        },
        {
          "group": "Garment care",
          "label": "Washing machine",
          "value": "washing-machine"
        },
        {
          "group": "Social media",
          "label": "Facebook",
          "value": "facebook"
        },
        {
          "group": "Social media",
          "label": "Instagram",
          "value": "instagram"
        },
        {
          "group": "Social media",
          "label": "Linkedin",
          "value": "linkedin"
        },
        {
          "group": "Social media",
          "label": "Pinterest",
          "value": "pinterest"
        },
        {
          "group": "Social media",
          "label": "Snapchat",
          "value": "snapchat"
        },
        {
          "group": "Social media",
          "label": "Tiktok",
          "value": "tiktok"
        },
        {
          "group": "Social media",
          "label": "Tumblr",
          "value": "tumblr"
        },
        {
          "group": "Social media",
          "label": "Twitter",
          "value": "twitter"
        },
        {
          "group": "Social media",
          "label": "Vimeo",
          "value": "vimeo-v"
        },
        {
          "group": "Social media",
          "label": "Youtube",
          "value": "youtube"
        }
      ],
      "default": "shield-check",
      "label": "t:general.icons-theme.label"
    },
    {
      "type": "text",
      "id": "text",
      "label": "t:sections.checklist.settings.text.label",
      "info": "t:sections.checklist.settings.text.info"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:sections.collage.blocks.media.settings.link.label"
    },
    {
      "type": "range",
      "id": "font_size",
      "label": "t:sections.all.font_size.label",
      "default": 85,
      "min": 70,
      "max": 120,
      "unit": "%",
      "step": 1
    },
    {
      "type": "select",
      "id": "font_type",
      "label": "t:sections.all.font_type.label",
      "options": [
        {
          "value": "heading-font",
          "label": "t:sections.all.font_type.heading.label"
        },
        {
          "value": "body-font",
          "label": "t:sections.all.font_type.body.label"
        },
        {
          "value": "button-font",
          "label": "t:sections.all.font_type.button.label"
        },
        {
          "value": "accent-font",
          "label": "t:sections.all.font_type.accent.label"
        }
      ],
      "default": "heading-font"
    },
    {
      "type": "select",
      "id": "background",
      "label": "t:sections.all.colors.label",
      "options": [
        {
          "value": "main-background",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "alt-background",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "alt-background-2",
          "label": "t:sections.all.colors.background_3.label"
        },
        {
          "value": "alt-background-3",
          "label": "t:sections.all.colors.background_4.label"
        },
        {
          "value": "background-modal",
          "label": "t:sections.all.colors.background_5.label"
        }
      ],
      "default": "background-modal"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing.section_spacing_heading"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.spacing.spacing_top",
      "default": 44
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.spacing.spacing_bottom",
      "default": 44
    }
  ],
  "blocks": [
    {
      "type": "line_text",
      "name": "t:sections.checklist.blocks.line_text.name",
      "limit": 8,
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:general.icons-theme.options__1.label"
            },
            {
              "group": "Basic icons",
              "label": "t:general.icons-theme.options__2.label",
              "value": "user"
            },
            {
              "group": "Basic icons",
              "label": "Arrow down to bracket",
              "value": "arrow-down-to-bracket"
            },
            {
              "group": "Basic icons",
              "label": "Arrow left",
              "value": "arrow-left"
            },
            {
              "group": "Basic icons",
              "label": "Arrow right arrow left",
              "value": "arrow-right-arrow-left"
            },
            {
              "group": "Basic icons",
              "label": "Arrow right",
              "value": "arrow-right"
            },
            {
              "group": "Basic icons",
              "label": "Arrow up right from square",
              "value": "arrow-up-right-from-square"
            },
            {
              "group": "Basic icons",
              "label": "Arrow up",
              "value": "arrow-up"
            },
            {
              "group": "Basic icons",
              "label": "Arrows maximize",
              "value": "arrows-maximize"
            },
            {
              "group": "Basic icons",
              "label": "Arrows repeat",
              "value": "arrows-repeat"
            },
            {
              "group": "Basic icons",
              "label": "Arrows rotate",
              "value": "arrows-rotate"
            },
            {
              "group": "Basic icons",
              "label": "Block question",
              "value": "block-question"
            },
            {
              "group": "Basic icons",
              "label": "Chevron down",
              "value": "chevron-down"
            },
            {
              "group": "Basic icons",
              "label": "Chevron left",
              "value": "chevron-left"
            },
            {
              "group": "Basic icons",
              "label": "Chevron right",
              "value": "chevron-right"
            },
            {
              "group": "Basic icons",
              "label": "Chevron up",
              "value": "chevron-up"
            },
            {
              "group": "Basic icons",
              "label": "Circle exclamation",
              "value": "circle-exclamation"
            },
            {
              "group": "Basic icons",
              "label": "Clock rotate left",
              "value": "clock-rotate-left"
            },
            {
              "group": "Basic icons",
              "label": "Exclamation",
              "value": "exclamation"
            },
            {
              "group": "Basic icons",
              "label": "House",
              "value": "house"
            },
            {
              "group": "Basic icons",
              "label": "Magnifying glass",
              "value": "magnifying-glass"
            },
            {
              "group": "Basic icons",
              "label": "Merge",
              "value": "merge"
            },
            {
              "group": "Basic icons",
              "label": "Plus",
              "value": "plus"
            },
            {
              "group": "Basic icons",
              "label": "Question",
              "value": "question"
            },
            {
              "group": "Basic icons",
              "label": "Rotate left",
              "value": "rotate-left"
            },
            {
              "group": "Basic icons",
              "label": "Seal exclamation",
              "value": "seal-exclamation"
            },
            {
              "group": "Basic icons",
              "label": "Seal question",
              "value": "seal-question"
            },
            {
              "group": "Basic icons",
              "label": "Shield exclamation",
              "value": "shield-exclamation"
            },
            {
              "group": "Commerce & marketing",
              "label": "Badge check",
              "value": "badge-check"
            },
            {
              "group": "Commerce & marketing",
              "label": "Badge dollar",
              "value": "badge-dollar"
            },
            {
              "group": "Commerce & marketing",
              "label": "Badge",
              "value": "badge"
            },
            {
              "group": "Commerce & marketing",
              "label": "Bag shopping",
              "value": "bag-shopping"
            },
            {
              "group": "Commerce & marketing",
              "label": "Basket shopping",
              "value": "basket-shopping"
            },
            {
              "group": "Commerce & marketing",
              "label": "Bell",
              "value": "bell"
            },
            {
              "group": "Commerce & marketing",
              "label": "Box check",
              "value": "box-check"
            },
            {
              "group": "Commerce & marketing",
              "label": "Box",
              "value": "box"
            },
            {
              "group": "Commerce & marketing",
              "label": "Bullseye arrow",
              "value": "bullseye-arrow"
            },
            {
              "group": "Commerce & marketing",
              "label": "Cart shopping",
              "value": "cart-shopping"
            },
            {
              "group": "Commerce & marketing",
              "label": "Certificate",
              "value": "certificate"
            },
            {
              "group": "Commerce & marketing",
              "label": "Check",
              "value": "check"
            },
            {
              "group": "Commerce & marketing",
              "label": "Flag",
              "value": "flag"
            },
            {
              "group": "Commerce & marketing",
              "label": "Gift card",
              "value": "gift-card"
            },
            {
              "group": "Commerce & marketing",
              "label": "Gift",
              "value": "gift"
            },
            {
              "group": "Commerce & marketing",
              "label": "Hand holding box",
              "value": "hand-holding-box"
            },
            {
              "group": "Commerce & marketing",
              "label": "Heart",
              "value": "heart"
            },
            {
              "group": "Commerce & marketing",
              "label": "Leaf",
              "value": "leaf"
            },
            {
              "group": "Commerce & marketing",
              "label": "Lightbulb dollar",
              "value": "lightbulb-dollar"
            },
            {
              "group": "Commerce & marketing",
              "label": "Lightbulb on",
              "value": "lightbulb-on"
            },
            {
              "group": "Commerce & marketing",
              "label": "Location check",
              "value": "location-check"
            },
            {
              "group": "Commerce & marketing",
              "label": "Location pin",
              "value": "location-pin"
            },
            {
              "group": "Commerce & marketing",
              "label": "Lock",
              "value": "lock"
            },
            {
              "group": "Commerce & marketing",
              "label": "Map pin",
              "value": "map-pin"
            },
            {
              "group": "Commerce & marketing",
              "label": "Map",
              "value": "map"
            },
            {
              "group": "Commerce & marketing",
              "label": "Party horn",
              "value": "party-horn"
            },
            {
              "group": "Commerce & marketing",
              "label": "Recycle",
              "value": "recycle"
            },
            {
              "group": "Commerce & marketing",
              "label": "Scale balanced",
              "value": "scale-balanced"
            },
            {
              "group": "Commerce & marketing",
              "label": "Shield check",
              "value": "shield-check"
            },
            {
              "group": "Commerce & marketing",
              "label": "Sparkle",
              "value": "sparkle"
            },
            {
              "group": "Commerce & marketing",
              "label": "Star",
              "value": "star"
            },
            {
              "group": "Commerce & marketing",
              "label": "Tag",
              "value": "tag"
            },
            {
              "group": "Commerce & marketing",
              "label": "Truck fast",
              "value": "truck-fast"
            },
            {
              "group": "Commerce & marketing",
              "label": "Truck",
              "value": "truck"
            },
            {
              "group": "Communication",
              "label": "Bullhorn",
              "value": "bullhorn"
            },
            {
              "group": "Communication",
              "label": "Calendar days",
              "value": "calendar-days"
            },
            {
              "group": "Communication",
              "label": "Comment",
              "value": "comment"
            },
            {
              "group": "Communication",
              "label": "Comments",
              "value": "comments"
            },
            {
              "group": "Communication",
              "label": "Compass",
              "value": "compass"
            },
            {
              "group": "Communication",
              "label": "Envelope",
              "value": "envelope"
            },
            {
              "group": "Communication",
              "label": "File",
              "value": "file"
            },
            {
              "group": "Communication",
              "label": "Folder",
              "value": "folder"
            },
            {
              "group": "Communication",
              "label": "Globe",
              "value": "globe"
            },
            {
              "group": "Communication",
              "label": "Pen",
              "value": "pen"
            },
            {
              "group": "Communication",
              "label": "Phone volume",
              "value": "phone-volume"
            },
            {
              "group": "Communication",
              "label": "Quote left",
              "value": "quote-left"
            },
            {
              "group": "Communication",
              "label": "Quote right",
              "value": "quote-right"
            },
            {
              "group": "Communication",
              "label": "Thought bubble",
              "value": "thought-bubble"
            },
            {
              "group": "Communication",
              "label": "User headset",
              "value": "user-headset"
            },
            {
              "group": "Family & children",
              "label": "Baby carriage",
              "value": "baby-carriage"
            },
            {
              "group": "Family & children",
              "label": "Baby",
              "value": "baby"
            },
            {
              "group": "Family & children",
              "label": "Backpack",
              "value": "backpack"
            },
            {
              "group": "Family & children",
              "label": "Balloon",
              "value": "balloon"
            },
            {
              "group": "Family & children",
              "label": "Bath",
              "value": "bath"
            },
            {
              "group": "Family & children",
              "label": "Cake candles",
              "value": "cake-candles"
            },
            {
              "group": "Family & children",
              "label": "Child",
              "value": "child"
            },
            {
              "group": "Family & children",
              "label": "Child dress",
              "value": "child-dress"
            },
            {
              "group": "Family & children",
              "label": "Child reaching",
              "value": "child-reaching"
            },
            {
              "group": "Family & children",
              "label": "Children",
              "value": "children"
            },
            {
              "group": "Family & children",
              "label": "Duck",
              "value": "duck"
            },
            {
              "group": "Family & children",
              "label": "Family",
              "value": "family"
            },
            {
              "group": "Family & children",
              "label": "Hand holding heart",
              "value": "hand-holding-heart"
            },
            {
              "group": "Family & children",
              "label": "Hands holding child",
              "value": "hands-holding-child"
            },
            {
              "group": "Family & children",
              "label": "Mitten",
              "value": "mitten"
            },
            {
              "group": "Family & children",
              "label": "Palette",
              "value": "palette"
            },
            {
              "group": "Family & children",
              "label": "Person breastfeeding",
              "value": "person-breastfeeding"
            },
            {
              "group": "Family & children",
              "label": "Person dress",
              "value": "person-dress"
            },
            {
              "group": "Family & children",
              "label": "Person pregnant",
              "value": "person-pregnant"
            },
            {
              "group": "Family & children",
              "label": "Piñata",
              "value": "piñata"
            },
            {
              "group": "Family & children",
              "label": "Puzzle piece",
              "value": "puzzle-piece"
            },
            {
              "group": "Family & children",
              "label": "Robot",
              "value": "robot"
            },
            {
              "group": "Family & children",
              "label": "School",
              "value": "school"
            },
            {
              "group": "Family & children",
              "label": "Scissors",
              "value": "scissors"
            },
            {
              "group": "Family & children",
              "label": "Shapes",
              "value": "shapes"
            },
            {
              "group": "Family & children",
              "label": "Teddy bear",
              "value": "teddy-bear"
            },
            {
              "group": "Family & children",
              "label": "Tricycle",
              "value": "tricycle"
            },
            {
              "group": "Pets & animals",
              "label": "Bee",
              "value": "bee"
            },
            {
              "group": "Pets & animals",
              "label": "Bird",
              "value": "bird"
            },
            {
              "group": "Pets & animals",
              "label": "Bugs",
              "value": "bugs"
            },
            {
              "group": "Pets & animals",
              "label": "Cat",
              "value": "cat"
            },
            {
              "group": "Pets & animals",
              "label": "Dog leashed",
              "value": "dog-leashed"
            },
            {
              "group": "Pets & animals",
              "label": "Dog",
              "value": "dog"
            },
            {
              "group": "Pets & animals",
              "label": "Dragon",
              "value": "dragon"
            },
            {
              "group": "Pets & animals",
              "label": "Feather",
              "value": "feather"
            },
            {
              "group": "Pets & animals",
              "label": "Fish",
              "value": "fish"
            },
            {
              "group": "Pets & animals",
              "label": "Frog",
              "value": "frog"
            },
            {
              "group": "Pets & animals",
              "label": "Monkey",
              "value": "monkey"
            },
            {
              "group": "Pets & animals",
              "label": "Paw",
              "value": "paw"
            },
            {
              "group": "Pets & animals",
              "label": "Rabbit",
              "value": "rabbit"
            },
            {
              "group": "Pets & animals",
              "label": "Shield cat",
              "value": "shield-cat"
            },
            {
              "group": "Pets & animals",
              "label": "Shield dog",
              "value": "shield-dog"
            },
            {
              "group": "Pets & animals",
              "label": "Shrimp",
              "value": "shrimp"
            },
            {
              "group": "Pets & animals",
              "label": "Snake",
              "value": "snake"
            },
            {
              "group": "Pets & animals",
              "label": "Spider",
              "value": "spider"
            },
            {
              "group": "Pets & animals",
              "label": "Turtle",
              "value": "turtle"
            },
            {
              "group": "Clothing & fashion",
              "label": "Glasses",
              "value": "glasses"
            },
            {
              "group": "Clothing & fashion",
              "label": "Graduation cap",
              "value": "graduation-cap"
            },
            {
              "group": "Clothing & fashion",
              "label": "Hat winter",
              "value": "hat-winter"
            },
            {
              "group": "Clothing & fashion",
              "label": "Scarf",
              "value": "scarf"
            },
            {
              "group": "Clothing & fashion",
              "label": "Shirt long sleeve",
              "value": "shirt-long-sleeve"
            },
            {
              "group": "Clothing & fashion",
              "label": "Shirt",
              "value": "shirt"
            },
            {
              "group": "Clothing & fashion",
              "label": "Socks",
              "value": "socks"
            },
            {
              "group": "Clothing & fashion",
              "label": "Sunglasses",
              "value": "sunglasses"
            },
            {
              "group": "Garment care",
              "label": "Clothes hanger",
              "value": "clothes-hanger"
            },
            {
              "group": "Garment care",
              "label": "Dryer heat",
              "value": "dryer-heat"
            },
            {
              "group": "Garment care",
              "label": "Dryer",
              "value": "dryer"
            },
            {
              "group": "Garment care",
              "label": "Hand holding droplet",
              "value": "hand-holding-droplet"
            },
            {
              "group": "Garment care",
              "label": "Hands bubbles",
              "value": "hands-bubbles"
            },
            {
              "group": "Garment care",
              "label": "Jug detergent",
              "value": "jug-detergent"
            },
            {
              "group": "Garment care",
              "label": "Washing machine",
              "value": "washing-machine"
            },
            {
              "group": "Social media",
              "label": "Facebook",
              "value": "facebook"
            },
            {
              "group": "Social media",
              "label": "Instagram",
              "value": "instagram"
            },
            {
              "group": "Social media",
              "label": "Linkedin",
              "value": "linkedin"
            },
            {
              "group": "Social media",
              "label": "Pinterest",
              "value": "pinterest"
            },
            {
              "group": "Social media",
              "label": "Snapchat",
              "value": "snapchat"
            },
            {
              "group": "Social media",
              "label": "Tiktok",
              "value": "tiktok"
            },
            {
              "group": "Social media",
              "label": "Tumblr",
              "value": "tumblr"
            },
            {
              "group": "Social media",
              "label": "Twitter",
              "value": "twitter"
            },
            {
              "group": "Social media",
              "label": "Vimeo",
              "value": "vimeo-v"
            },
            {
              "group": "Social media",
              "label": "Youtube",
              "value": "youtube"
            }
          ],
          "default": "chevron-right",
          "label": "t:general.icons-theme.label"
        },
        {
          "type": "text",
          "id": "text",
          "default": "Example text",
          "label": "t:sections.checklist.blocks.line_text.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.checklist.name",
      "blocks": [
        {
          "type": "line_text",
          "settings": {
            "text": "No toxic dyes or inks"
          }
        },
        {
          "type": "line_text",
          "settings": {
            "text": "Organic fibers"
          }
        },
        {
          "type": "line_text",
          "settings": {
            "text": "No BPAs"
          }
        },
        {
          "type": "line_text",
          "settings": {
            "text": "No harsh chemicals"
          }
        }
      ]
    }
  ]
}
{% endschema %}
