{{ 'section-customer-reviews.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% assign icon_style = settings.icons_style %}

<div class="section-{{ section.id }}-padding customer-reviews-section page-width">
  {% if section.settings.title != blank or section.settings.subheading != blank %}
    <div class="section__header {{ section.settings.color_text }} scroll-animate fade-in" style="--font-section-scale: {{ section.settings.font_size | divided_by: 100.0 }};">
      {% if section.settings.title != blank %}
        <h2 class="h1">{{ section.settings.title | escape }}</h2>
      {% endif %}
      {% if section.settings.subheading != blank %}
        <p>{{ section.settings.subheading | escape }}</p>
      {% endif %}
    </div>
  {% endif %}

  <ul class="reviews-grid reviews-grid--{{ section.settings.columns }}">
    {% for block in section.blocks limit: section.blocks.size %}
      {%- assign animation_delay = animation_delay | plus: 0.08 -%}
      <li class="scroll-animate fade-in-up" {{ block.shopify_attributes }} style="--font-section-scale: {{ section.settings.card_font_size | divided_by: 100.0 }}; animation-delay: {{ animation_delay }}s;">
        {%- if block.settings.link != blank -%}
          <a class="card-box-link" href="{{ block.settings.link }}">
        {%- endif -%}
        <div class="card-box card-box--review {{ section.settings.background }}">
          {%- if block.settings.image != blank or block.settings.video != blank -%}
            <div class="card-box__image">
              {% assign sizes = "(max-width: 768px) calc(100vw - 1.5rem), (max-width: 1024px) calc((100vw - 1.5rem) / 2), (max-width: 1520px) calc((100vw - 5.5rem) / 3), calc((1520px - 5.5rem) / 3)" %}
              {% if block.settings.video != blank %}
                <video-content>
              {% endif %}
                <div class="media media--transparent media--portrait">
                  {% if block.settings.video != blank %}
                    {%- capture "video_classes" -%}media__video{% if block.settings.autoplay_video %} media__video--autoplay{% endif %}{%- endcapture -%}
                    {% liquid
                      if block.settings.autoplay_video
                        assign playsinline = true
                        assign loop = true
                        assign autoplay = true
                        assign muted = true
                        assign controls = false
                      else
                        assign playsinline = false
                        assign loop = false
                        assign autoplay = false
                        assign muted = false
                        assign controls = true
                      endif
                    %}
                    {{ block.settings.video | video_tag:
                      image_size: '940x',
                      class: video_classes,
                      playsinline: playsinline,
                      loop: loop,
                      autoplay: autoplay,
                      muted: muted,
                      controls: controls
                    }}
                  {%- elsif block.settings.image != blank -%}
                    {% assign image_height =  block.settings.image.width | divided_by: block.settings.image.aspect_ratio %}
                    {{ block.settings.image | image_url: width: 990 | image_tag:
                      loading: 'lazy',
                      width: block.settings.image.width,
                      height: image_height,
                      sizes: sizes,
                      widths: '200, 300, 400, 550, 720, 990',
                      alt: block.settings.image.alt | escape
                    }}
                  {% endif %}
                </div>
                {% if block.settings.video != blank and block.settings.autoplay_video == false %}
                  <div class="media__video-overlay">
                    <div class="media__video-overlay__img">
                      <div class="media media--transparent media--portrait">
                        {% if block.settings.image != blank %}
                          {%- assign image_height = block.settings.image.width
                            | divided_by: block.settings.image.aspect_ratio
                          -%}
                          {{
                            block.settings.image
                            | image_url: width: 990
                            | image_tag:
                              loading: 'lazy',
                              width: block.settings.image.width,
                              height: image_height,
                              class: 'motion-reduce media__transparent',
                              sizes: sizes,
                              widths: '200, 300, 400, 550, 720, 990',
                              alt: block.settings.image.alt
                            | escape
                          }}
                        {% elsif block.settings.video != blank %}
                          {%- assign image_height = block.settings.video.preview_image.width
                            | divided_by: block.settings.video.preview_image.aspect_ratio
                          -%}
                          {{
                            block.settings.video.preview_image
                            | image_url: width: 990
                            | image_tag:
                              loading: 'lazy',
                              width: block.settings.video.preview_image.width,
                              height: image_height,
                              class: 'motion-reduce media__transparent',
                              sizes: sizes,
                              widths: '200, 300, 400, 550, 720, 990',
                              alt: block.settings.video.preview_image.alt
                            | escape
                          }}
                        {% else %}
                          {{ 'lifestyle-1' | placeholder_svg_tag: 'media__transparent' }}
                        {% endif %}
                      </div>
                    </div>
                    <div class="media__overlay__inner">
                      <a href="#" class="media__play" aria-label="Play video">
                        <i class="icon icon-play {{ icon_style }} fa-circle-play"></i>
                      </a>
                    </div>
                  </div>
                {% endif %}
              {% if block.settings.video != blank %}
                </video-content>
              {% endif %}
            </div>
          {%- endif -%}
          <div class="card-box__content">
            {% liquid
              assign rating = block.settings.value_rating
              assign value_rating = block.settings.value_rating
            %}
            <div class="rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: rating, rating_max: 5 }}">
              <span aria-hidden="true" class="rating-star" style="--rating: {{ value_rating | floor }}; --rating-max: 5; --rating-decimal: 0;"></span>
            </div>
            <p class="rating-text">
              <span aria-hidden="true">{{ rating }} / 5</span>
            </p>
            {% if block.settings.text != blank %}
              <div class="card-box__text">{{ block.settings.text }}</div>
            {% endif %}
            {% if block.settings.author != blank %}
              <span class="card-box--review__author">{{ block.settings.author }}</span>
            {% endif %}
            {% if block.settings.location != blank %}
              <span class="card-box--review__location">{{ block.settings.location }}</span>
            {% endif %}
          </div>
        </div>
        {%- if block.settings.link != blank -%}
          </a>
        {%- endif -%}
      </li>
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "name": "t:sections.customer-reviews.name",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.customer-reviews.settings.title.label",
      "default": "Customer Reviews"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.customer-reviews.settings.subheading.label"
    },
    {
      "type": "select",
      "id": "color_text",
      "label": "t:sections.all.colors.label_text",
      "options": [
        {
          "value": "primary-text-1",
          "label": "t:sections.all.colors.primary_text_1.label"
        },
        {
          "value": "secondary-text-1",
          "label": "t:sections.all.colors.secondary_text_1.label"
        },
        {
          "value": "primary-text-2",
          "label": "t:sections.all.colors.primary_text_2.label"
        },
        {
          "value": "secondary-text-2",
          "label": "t:sections.all.colors.secondary_text_2.label"
        },
        {
          "value": "primary-text-3",
          "label": "t:sections.all.colors.primary_text_3.label"
        },
        {
          "value": "secondary-text-3",
          "label": "t:sections.all.colors.secondary_text_3.label"
        },
        {
          "value": "primary-text-4",
          "label": "t:sections.all.colors.primary_text_4.label"
        },
        {
          "value": "secondary-text-4",
          "label": "t:sections.all.colors.secondary_text_4.label"
        },
        {
          "value": "primary-text-5",
          "label": "t:sections.all.colors.primary_text_5.label"
        },
        {
          "value": "secondary-text-5",
          "label": "t:sections.all.colors.secondary_text_5.label"
        },
        {
          "value": "sale-text",
          "label": "t:sections.all.colors.sale_text.label"
        }
      ],
      "default": "primary-text-1"
    },
    {
      "type": "range",
      "id": "font_size",
      "label": "t:sections.all.font_size.label",
      "default": 100,
      "min": 80,
      "max": 120,
      "unit": "%",
      "step": 1
    },
    {
      "type": "header",
      "content": "t:sections.customer-reviews.settings.header.content"
    },
    {
      "type": "range",
      "id": "columns",
      "label": "t:sections.customer-reviews.settings.columns.label",
      "default": 2,
      "min": 1,
      "max": 3,
      "step": 1
    },
    {
      "type": "range",
      "id": "card_font_size",
      "label": "t:sections.customer-reviews.settings.card_font_size.label",
      "default": 100,
      "min": 80,
      "max": 120,
      "unit": "%",
      "step": 1
    },
    {
      "type": "select",
      "id": "background",
      "label": "t:sections.all.colors.label_card",
      "options": [
        {
          "value": "main-background",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "alt-background",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "alt-background-2",
          "label": "t:sections.all.colors.background_3.label"
        },
        {
          "value": "alt-background-3",
          "label": "t:sections.all.colors.background_4.label"
        },
        {
          "value": "background-modal",
          "label": "t:sections.all.colors.background_5.label"
        }
      ],
      "default": "background-modal"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing.section_spacing_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.spacing.spacing_top",
      "default": 44
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.spacing.spacing_bottom",
      "default": 44
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "t:sections.customer-reviews.blocks.review.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.customer-reviews.blocks.review.settings.image.label",
          "info": "t:sections.customer-reviews.blocks.review.settings.image.info"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:sections.media-with-text.settings.video.label",
          "info": "t:sections.media-with-text.settings.video.info"
        },
        {
          "type": "checkbox",
          "id": "autoplay_video",
          "default": true,
          "label": "t:sections.media-with-text.settings.autoplay_video.label"
        },
        {
          "type": "range",
          "id": "value_rating",
          "min": 1,
          "max": 5,
          "step": 1,
          "label": "t:sections.customer-reviews.blocks.review.settings.value_rating.label",
          "default": 5
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.customer-reviews.blocks.review.settings.text.label",
          "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
        },
        {
          "type": "text",
          "id": "author",
          "label": "t:sections.customer-reviews.blocks.review.settings.author.label",
          "default": "Author's name"
        },
        {
          "type": "text",
          "id": "location",
          "label": "t:sections.customer-reviews.blocks.review.settings.location.label",
          "default": "Author's Location"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.customer-reviews.blocks.review.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.customer-reviews.name",
      "blocks": [
        {
          "type": "review"
        },
        {
          "type": "review"
        }
      ]
    }
  ]
}
{% endschema %}