<style type="text/css">
  .password-logo {
    max-width: {{ section.settings.logo_max_width }}px;
  }
</style>

{% assign icon_style = settings.icons_style %}
<div class="section-main-password-header page-width">
  <div class="password-header">
    {%- if section.settings.logo != blank -%}
      {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
      {%- assign logo_height = section.settings.logo_max_width | divided_by: section.settings.logo.aspect_ratio -%}
      {{ section.settings.logo | image_url: width: section.settings.logo.width | image_tag:
        class: 'password-logo',
        widths: '50, 100, 150, 200, 250, 300, 400, 500',
        width: section.settings.logo_max_width,
        height: logo_height,
        alt: logo_alt }}
    {%- else -%}
      <h1 class="h2">{{ shop.name }}</h1>
    {%- endif -%}

    {%- if shop.password_message != blank -%}
      <div class="password-content">
        {{ shop.password_message }}
      </div>
    {%- endif -%}

    <password-modal>
      <details class="password-modal modal">
        <summary class="modal__toggle" aria-haspopup="dialog">
          <div class="modal__toggle-open password-link btn btn--small btn--secondary">
            {{ 'general.password_page.login_password_button' | t }}
          </div>
          <div class="modal__toggle-close" aria-hidden="true">
            <i class="icon icon-close {{ icon_style }} fa-swap-opacity fa-xmark-large"></i>
          </div>
        </summary>
        <div
          class="modal__content"
          role="dialog"
          aria-labelledby="DialogHeading"
          aria-modal="true"
        >
          <div class="password-modal__content" tabindex="-1">
            <button type="button" class="modal__close-button link" aria-label="{{ 'accessibility.close' | t }}">
              <i class="icon icon-close {{ icon_style }} fa-swap-opacity fa-xmark-large"></i>
            </button>
            <div class="page-width page-width--without-padding">
              <div class="password-card-wrapper background-modal">
                <h2 class="password-card__title text-center" id="DialogHeading">
                  {{ section.settings.heading }}
                </h2>
                <div class="password-card__subtitle text-center rte">{{ section.settings.text }}</div>
                {%- form 'storefront_password', class: 'form-vertical' -%}
                  <div class="field-wrapper">
                    <input
                      type="password"
                      name="password"
                      id="Password"
                      class="field-wrapper__input{% if form.errors %} input--error{% endif %}"
                      autocomplete="current-password"
                      {% if form.errors %}
                        aria-invalid="true"
                        aria-describedby="PasswordLoginForm-password-error"
                      {%- endif -%}
                      placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                    >
                    <label class="field-wrapper__label" for="Password">
                      <span class="field-wrapper__label-name">{{ 'general.password_page.login_form_password_placeholder' | t }}</span>
                    </label>
                    {%- if form.errors -%}
                      <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                    {%- endif -%}
                    <span class="field-wrapper__icon-error{% unless form.errors contains 'form' %} hide{% endunless %}" aria-invalid="true">
                      <i class="icon icon-error {{ icon_style }} fa-circle-exclamation"></i>
                    </span>
                  </div>
                  <span class="input-error-message{% unless form.errors contains 'form' %} hide{% endunless %}">
                    <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
                    <span>
                      {{ 'general.password_page.login_form_error' | t }}
                    </span>
                  </span>
                  <div class="input-group__btn">
                    <button name="commit" class="btn btn--small">
                      {{ 'general.password_page.login_form_submit' | t }}
                    </button>
                  </div>
                {%- endform -%}

                <h4 class="text-center password-card__footer-title">{{ 'general.password_page.store_owner' | t }}</h4>
                <div class="text-center">
                  <a class="btn btn--secondary btn--small btn--large" href="/admin">{{ 'general.password_page.login_button' | t }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </details>
    </password-modal>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-password-header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.main-password-header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.main-password-header.settings.logo_max_width.unit",
      "label": "t:sections.main-password-header.settings.logo_max_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-password-header.settings.header.content"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Enter Your Password",
      "label": "t:sections.main-password-header.settings.heading.label"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>This store requires a password to enter.</p>",
      "label": "t:sections.main-password-header.settings.text.label"
    }
  ]
}
{% endschema %}
