{{ 'section-multicolor-cards.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding">
  <div class="multicolors-cards-section page-width">
    <ul class="multicolors-cards__list multicolors-cards__list--{{ section.settings.columns }} {{ section.settings.font_type }}" style="--img-height: {{ section.settings.image_height }}%;">
      {% for block in section.blocks %}
        {%- assign animation_delay = animation_delay | plus: 0.08 -%}
        <li class="multicolors-cards__item scroll-animate zoom-out-fade-in" style="animation-delay: {{ animation_delay }}s;">
          {% if block.settings.link != blank %}
            <a href="{{ block.settings.link }}">
          {% endif %}
            <div {% if block.settings.card_image.width != blank %}class="multicolors-cards__box-wrap--padding"{% endif %}>
              <div class="multicolors-cards__box" style="--text-color: {{ block.settings.text_color }}; --background-color: {{ block.settings.background }};">
                {%- if block.settings.card_image.width != blank -%}
                  <div class="multicolors-cards__image">
                    <div class="media media--transparent">
                      {% assign image_height =  block.settings.card_image.width | divided_by: block.settings.card_image.aspect_ratio %}
                      {% assign sizes = "(max-width: 768px) calc(100vw - 1.5rem), (max-width: 1024px) calc((100vw - 1.5rem) / 2), (max-width: 1520px) calc((100vw - 5.5rem) / 3), calc((1520px - 5.5rem) / 3)" %}

                      {{ block.settings.card_image | image_url: width: 990 | image_tag:
                        loading: 'lazy',
                        width: block.settings.card_image.width,
                        height: image_height,
                        sizes: sizes,
                        class: 'media__badge media__transparent',
                        widths: '200, 300, 400, 550, 720, 990',
                        alt: block.settings.card_image.alt | escape
                      }}
                    </div>
                  </div>
                {%- endif -%}
                <h2 class="h3" style="--font-section-scale: {{ section.settings.font_size | divided_by: 100.0 }};">{{ block.settings.card_title }}</h2>
              </div>
            </div>
          {% if block.settings.link != blank %}
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.multicolor-cards.name",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "range",
      "id": "columns",
      "label": "t:sections.multicolor-cards.settings.columns.label",
      "default": 4,
      "min": 2,
      "max": 4,
      "step": 1
    },
    {
      "type": "range",
      "id": "image_height",
      "label": "t:sections.multicolor-cards.settings.image_height.label",
      "default": 100,
      "min": 45,
      "max": 145,
      "unit": "%",
      "step": 1
    },
    {
      "type": "range",
      "id": "font_size",
      "label": "t:sections.all.font_size.label",
      "default": 100,
      "min": 80,
      "max": 120,
      "unit": "%",
      "step": 1
    },
    {
      "type": "select",
      "id": "font_type",
      "label": "t:sections.all.font_type.label",
      "options": [
        {
          "value": "heading-font",
          "label": "t:sections.all.font_type.heading.label"
        },
        {
          "value": "body-font",
          "label": "t:sections.all.font_type.body.label"
        },
        {
          "value": "button-font",
          "label": "t:sections.all.font_type.button.label"
        },
        {
          "value": "accent-font",
          "label": "t:sections.all.font_type.accent.label"
        }
      ],
      "default": "heading-font"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing.section_spacing_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.spacing.spacing_top",
      "default": 44
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.spacing.spacing_bottom",
      "default": 44
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "t:sections.multicolor-cards.blocks.card.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "card_image",
          "label": "t:sections.multicolor-cards.blocks.card.settings.card_image.label",
          "info": "t:sections.multicolor-cards.blocks.card.settings.card_image.info"
        },
        {
          "type": "text",
          "id": "card_title",
          "label": "t:sections.multicolor-cards.blocks.card.settings.card_title.label",
          "default": "Card title"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.multicolor-cards.blocks.card.settings.link.label"
        },
        {
          "type": "color",
          "id": "background",
          "label": "t:sections.multicolor-cards.settings.background.label",
          "default": "#3A3A3E"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "t:sections.multicolor-cards.settings.text_color.label",
          "default": "#FFFFFF"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multicolor-cards.name",
      "blocks": [
        {
          "type": "card",
          "settings": {
            "card_title": "Collection"
          }
        },
        {
          "type": "card",
          "settings": {
            "card_title": "Collection"
          }
        },
        {
          "type": "card",
          "settings": {
            "card_title": "Collection"
          }
        },
        {
          "type": "card",
          "settings": {
            "card_title": "Collection"
          }
        }
      ]
    }
  ]
}
{% endschema %}